<article class="product-items">
  <img src="<%= product.imageUrl  %>" alt="<%= product.title %>" />
  <h2><%= product.title %></h2>
  <div class="btn-items">
    <a class="btn btn-alt" href="/admin/products/<%= product.id %>">
      View & Edit
    </a>
    <button
      class="btn btn-alt"
      data-productid="<%= product.id %>"
      data-csrf="<%= locals.csrfToken %>"
    >
      Delete
    </button>
  </div>
</article>
