<%- include('../../shared/includes/head/', { pageTitle : 'products detail' }) %>
<link rel="stylesheet" href="/styles/product-items.css" />
</head>
</html>

<!-- Header -->
<%- include('../../shared/includes/header') %>

<!-- Main content -->
<main id="product-details">
  <header>
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <div id="product-info">
      <h1> <%= product.title %> </h1>
      <p> <%= product.price %> </p>
      <button class="btn"> ADD TO CARD </button>
    </div>
  </header>
  <p id="product-description">
    <%= product.description %>
  </p>
</main>

<%- include('../../shared/includes/footer') %>